@import "tailwindcss";

:root {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #FFFFFF;
  color: #0F172A;
}

body {
  margin: 0;
  min-height: 100vh;
}

html { scroll-behavior: smooth; }
